<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <%= stylesheet_link_tag "/app/assets/stylesheets/application.css" %>

</head>
<h1>Login</h1>
<%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    
  <div class = bottombar style="float: right">
    <%= link_to 'About Us', '/login', :method => 'get', :id => 'about' %>
    <%= link_to 'Privacy Policy', '/login', :method => 'get', :id => 'privacyPolicy' %>
  </div>
