<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <%= stylesheet_link_tag "/app/assets/stylesheets/application.scss" %>
  
</head>


<div id="inner">
<% if false %>
<%= form_for @user do |f| %>

<p>
    <%= f.label :username  %><br>
    <%= f.text_field :username, :class => 'username' %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'password', :id => 'passwordBox' %>
  </p>
 
  <p>
    <%= f.submit "Submit", :id => 'buttons' %>
  </p>
 
<% end %>
<% end %>
<!-- everything above is just to test that the model will create and edit properly -->


<!-- app/views/users/new.html.erb -->



<%= form_for (@user) do |f| %> 

  <%= render 'shared/error_messages' %>
  <p>
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>
  </p>
  <br />
  <p>
  <%= f.label :email  %>
  <%= f.email_field :email, class: 'form-control' %>
  </p>
  <br />
  <p>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  </p>
  <br />
  <p>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  </p>
  <br />
  <%= f.submit "Submit", :id => 'buttons' %>
</div>
<% end %>



