<h1>User List</h1>



 <table id= "userTable">
  <tr id= "userTableHead">
    <th style="text-align: center">User</th>
    <th style="text-align: center">Email</th>
  </tr>
 
  <% @user.each do |user| %>
  <tr>
     <td><%= user.username %></td>
     <td><%= user.email %></td>
     
     <td style= "padding:10px 0 0 0"><%= button_to 'Show', user_path(user), :method => "get", :id => "button" %></td>
     <td style= "padding:10px 0 0 0"><%= button_to 'Edit', edit_user_path(user), :method => "get", :id => "button"%></td>
     <td style= "padding:10px 0 0 0"><%= button_to 'Destroy',
                                user_path(user),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                :id => "button"%></td>
     
  </tr>
 <% end %>
</table>
<%= button_to 'New', new_user_path, :method => "get", :id => "button" %>
<%= button_to 'Back', :back, :method => "get", :id => "button"%>
 
 
 
 
 
