<div>
<div class = "navbar">
          <div>
          <div style="float:left;">
               <%= button_to "ðŸ ", '/back', :method => 'get', :id => 'back'%>
            </div>
          <div>
            <h1 id="inner">New User Signup!</h1>
          </div>
        </div>
        </div>
        </div>
        <br>
<div>
<br/>
<br/>

<%= render 'form' %>

<%= button_to "Back", '/login', :method => 'get', :id => 'back'%>

<div class = bottombar style="float: right">
    <%= link_to 'About Us', :method => 'get', :id => 'about' %>
    <%= link_to 'Privacy Policy', :method => 'get', :id => 'privacyPolicy' %>
    <% if logged_in? %>
           <%= link_to "Profile", current_user %>
          <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
  </div>

</div>