
<div style="float:left;">
               <%= button_to "ðŸ ", '/back', :method => 'get', :id => 'back'%>
            </div>
<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<table>
  <tr>
    <th>Score</th>
    <th>Difficulty</th>
  </tr>

<% @user.stats.each do |stat| %>
<tr>
     <td><%= stat.score %></td>
     <td><%= stat.name %></td>
     <td><%= link_to 'Show', user_stat_path(@user,stat) %> </td>
     <td><%= button_to 'Destroy', user_stat_path(@user, stat),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
     
    </tr>
<% end %>
</table

<h2>Add a stat:</h2>
<%= form_for([@user, @user.stats.new]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>