
<div style="float:left;">
               <%= button_to "ðŸ ", '/back', :method => 'get', :id => 'back'%>
            </div>
<div class = "scroll">
<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <%= button_to 'Edit Profile', edit_user_path(@user), method: :get %>
</p>
<p>
  <strong>Scores:</strong>
</p>
<div style="overflow:auto;">
<table align="center">
  <tr>
    <th>Score</th>
    <th style="padding:0 30px 0 30px;">Difficulty</th>
    <th style="padding:0 30px 0 30px;">Date (MM/DD/YYYY HH:MM)</th>
  </tr>

<% @user.stats.all.order(score: :desc).each do |stat| %>
<tr>
     <td><%= stat.score %></td>
     <td><%= stat.name %></td>
     <td><%= stat.date.strftime("%m/%d/%Y %H:%M") %></td>
     <td style="padding:0 15px 0 15px;"><%= button_to 'Show', user_stat_path(@user,stat), method: :get, :id => "button" %> </td>
     <td style="padding:0 15px 0 15px;"><%= button_to 'Destroy', user_stat_path(@user, stat),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                :id => "button"%></td>
     
    </tr>
<% end %>
</table>

<%= button_to 'Highscores',  highscores_path, method: :get %>

<% if false %>
<h2>Add a stat:</h2>
<%= form_for([@user, @user.stats.new]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>

</div>