<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "/app/assets/stylesheets/application.scss" %>
  
</head>
<body>
  <!-- intro area -->
  <div id="intro">
    <div class = navbar>
      <div>
        <% if logged_in? %>
              <%= button_to 'Sign out', '/logout', :method => 'get', :id => 'signin' %>
        <% else %>
          <%= button_to 'Sign in', '/login', :method => 'get', :id => 'signin' %>
        <% end %>
        <h1 id="inner">Welcome
        <% if logged_in? %>
          <%= current_user.username%>
          <% else %>
           
        <% end %>
        to <%= image_tag("logo.png", :id => 'logo') %> Games!</h1>
        
    </div>
    </div>
    <div class="intro-text">
      <div class="container">
        <div>
            <%= image_tag("breakout.png", :id => 'breakoutImg', :style => 'float:left') %>
            <p><br/><br/> <br /> <br /> Breakout! Try to destroy all of the blocks and get the highest score possible!</p>
          <div>

            <div>
              <!--div class="line-spacer"></div> -->
              <%= button_to 'EASY', '/breakout1', :method => 'get', :id => 'gameButton'%>
              <%= button_to 'MEDIUM', '/breakout2', :method => 'get', :id => 'gameButton' %>
              <%= button_to 'HARD', games_path, :method => 'get', :id => 'gameButton' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class = bottombar style="float: right">
    <%= link_to 'About Us', '/login', :method => 'get', :id => 'about' %>
    <%= link_to 'Privacy Policy', '/login', :method => 'get', :id => 'privacyPolicy' %>
    <%= link_to 'Highscore', highscores_path %>
    <% if logged_in? %>
           <%= link_to "Profile", current_user %>
          <%= link_to "Log out", logout_path, method: :get %>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
  </div>
</body>