<head>
  <meta charset = "utf-8" />
  <style>
  .signin {text-align: center; background-color: #4CAF50;}
  </style>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/welcome.css">
</head>
<body>
  <!-- intro area -->
  <div id="intro">
    <div style="float:right" >
      <button id="signin">SIGN IN</button>
    </div>
    <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
              <h1><a href="index.html.erb">Game</a></h1>
              <!--div class="line-spacer"></div> -->
              <p><span>Awesome Game Coming Soon</span></p>
              <%= link_to 'Game', "/game.html" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  # added these lines.
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>
</body>