<!-- app/views/users/new.html.erb -->
<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <%= stylesheet_link_tag "/app/assets/stylesheets/application.css" %>
</head>
<h1>Signup!</h1>


<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>

<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email, "", class: 'username'%>
  Password: <%= password_field_tag :password, "", class: 'password'%>
  <%= submit_tag "Submit" %>
  
<div class = bottombar style="float: right">
    <%= link_to 'About Us', '/login', :method => 'get', :id => 'about' %>
    <%= link_to 'Privacy Policy', '/login', :method => 'get', :id => 'privacyPolicy' %>
</div>

<% end %>