<head>
    <title>Breakout!</title>
    <meta charset = "utf-8" />
    
    <style>
        * {padding: 0; margin: 0; }
    </style>
    <%= stylesheet_link_tag    "application", :media => "all" %>

   <!-- <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/welcome.css"> -->
</head>

<body>
    <div class = "navbar">
          <div>
          <div style="float:left;">
               <%= button_to "ðŸ ", '/back', :method => 'get', :id => 'back'%>
            </div>
            <div >
                <button style="float:right;" id ="startButton" class = "btn" type = "button">START</button>
                <h1 id="inner">Breakout!</h1>
          </div>
        </div>
        </div>
     
        
      <div>
        <br/><br/><br/><br/>
          <div>
                <canvas id= "myCanvas" width = "601px" height = "400px"></canvas>
                
                <%= javascript_include_tag 'breakout3.js' %>
            </div>
          </div>
          <br/>
          <div id="inner">
          <% if logged_in? %>
          <p>User: <%= link_to current_user.email, current_user%></p>
          <%= current_user.username%>
          <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
        </div>
    
</body>
