
<%= form_for @stat do |f| %>


<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>